
<% if @customer_preference.errors.any? %>
    <div class="alert fade in alert-danger alert-dismissable"><button aria-hidden="true" class="close" data-dismiss="alert" type="button">×</button>
      <ul>
        <% @customer_preference.errors.full_messages.each do |msg| %>
            <%= content_tag :li, msg, :id => "error_#{msg}" if msg.is_a?(String) %>
        <% end %>
      </ul>
    </div>
<% end %>
<%= simple_form_for([:admin, @customer_preference]) do |f| %>
    <%= f.association :customer %>
    <%= f.association :species, required: false, input_html: {id: :pet_species_id} %>
    <%= f.input :breed_id, collection: Species.all, as: :grouped_select, group_method: :breeds, input_html: {id: :pet_breed_id} %>
    <%= f.input :min_age, label: 'Min age in months' %>
    <%= f.input :max_age, label: 'Min age in months' %>
    <%= f.submit class: 'btn btn-primary' %>
<% end %>
