
<h1 class="page-title">Customer Preferences</h1>

<div class="row">
  <div class="col-md-12">

    <!-- START DATATABLE EXPORT -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= link_to 'New Customer Preference', new_admin_customer_preference_path, class: 'btn btn-primary pull-right' %>

      </div>
      <div class="panel-body">
        <table id="users" class="table datatable">
          <thead>
          <tr>
            <th>Customer ID</th>
            <th>Customer</th>
            <th>Species</th>
            <th>Breed</th>
            <th>Min Age</th>
            <th>Max Age</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
              <% @customer_preferences.each do |customer_preference| %>
                  <tr ng-repeat="customer_preference in customer_preferences">
                    <td><%= customer_preference.customer.id %></td>
                    <td><%= customer_preference.customer %></td>
                    <td><%= customer_preference.species %></td>
                    <td><%= customer_preference.breed %></td>
                    <td><%= customer_preference.min_age %></td>
                    <td><%= customer_preference.max_age %></td>
                    <td class="icon-actions">
                      <%= link_to raw('<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'), edit_admin_customer_preference_path(customer_preference) %>
                      <%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>'), [:admin, customer_preference], method: :delete, data: { confirm: 'Are you sure?' } %>
                    </td>
                  </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- END DATATABLE EXPORT -->

  </div>
</div>

