<h1 class="page-title">Customer Preference</h1>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= simple_form_for [:admin, @customer_preference], html: {class: 'form-disabled'} do |f| %>
            <%= f.input :customer, readonly: true %>
            <%= f.input :species, readonly: true %>
            <%= f.input :breed, readonly: true %>
            <%= f.input :min_age, readonly: true %>
            <%= f.input :max_age, readonly: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>