<h1>Editing Customer Preference</h1>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'form', customer_preference: @customer_preference %>
      </div>
    </div>
  </div>
</div>
