<h1 class="page-title">New Customer Preference</h1>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'form', customer_preference_path: @customer_preference %>
      </div>
    </div>
  </div>
</div>