<h1 class="page-title">Preference</h1>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= simple_form_for @customer_preference, html: {class: 'form-disabled'}  do |f| %>
            <%= f.input :species %>
            <%= f.input :breed %>
            <%= f.input :min_age, label: 'Min age in months(optional)' %>
            <%= f.input :max_age, label: 'Min age in months(optional)' %>
        <% end %>
      </div>
    </div>
  </div>
</div>