

<!-- START WIDGETS -->
<div class="row">

  <div class="col-md-3">

    <!-- START WIDGET REGISTRED -->
    <div class="widget widget-default widget-item-icon" >
      <div class="widget-item-left">
        <span class="fa fa-paw"></span>
      </div>
      <div class="widget-data">
        <div class="widget-int num-count"><%= Pet.count %></div>
        <div class="widget-title">Pets</div>
        <div class="widget-subtitle">On your website</div>
      </div>
      <div class="widget-controls">
        <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
      </div>
    </div>
    <div class="widget widget-default widget-item-icon" >
      <div class="widget-item-left">
        <span class="fa fa-user"></span>
      </div>
      <div class="widget-data">
        <div class="widget-int num-count"><%= Customer.count %></div>
        <div class="widget-title">Customers</div>
        <div class="widget-subtitle">On your website</div>
      </div>
      <div class="widget-controls">
        <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
      </div>
    </div>
    <!-- END WIDGET REGISTRED -->

  </div>
  <div class="col-md-3">

    <!-- START WIDGET CLOCK -->
    <div class="widget widget-info widget-padding-sm">
      <div class="widget-big-int plugin-clock">00:00</div>
      <div class="widget-subtitle plugin-date">Loading...</div>
      <div class="widget-controls">
        <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="left" title="Remove Widget"><span class="fa fa-times"></span></a>
      </div>
      <div class="widget-buttons widget-c3">
        <div class="col">
          <a href="#"><span class="fa fa-clock-o"></span></a>
        </div>
        <div class="col">
          <a href="#"><span class="fa fa-bell"></span></a>
        </div>
        <div class="col">
          <a href="#"><span class="fa fa-calendar"></span></a>
        </div>
      </div>
    </div>
    <!-- END WIDGET CLOCK -->

  </div>
</div>
<!-- END WIDGETS -->

