
<% if @customer.errors.any? %>
    <div class="alert fade in alert-danger alert-dismissable"><button aria-hidden="true" class="close" data-dismiss="alert" type="button">×</button>
      <ul>
        <% @customer.errors.full_messages.each do |msg| %>
            <%= content_tag :li, msg, :id => "error_#{msg}" if msg.is_a?(String) %>
        <% end %>
      </ul>
    </div>
<% end %>
<%= simple_form_for([:admin, @customer]) do |f| %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :contact_no %>
    <%= f.simple_fields_for :location_attributes do |lf| %>
        <%= lf.input :address, required: false %>
        <%= lf.input :area, required: false %>
        <%= lf.input :region, required: false, collection: ['Hong Kong', 'Kowloon', 'New Territories', 'Island'] %>
    <% end %>
    <%= f.submit class: 'btn btn-primary' %>
<% end %>
