
<h1 class="page-title">Customers</h1>

<div class="row">
  <div class="col-md-12">

    <!-- START DATATABLE EXPORT -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= link_to 'New Customer', new_admin_customer_path, class: 'btn btn-primary pull-right' %>

      </div>
      <div class="panel-body">

        <table id="users" class="table datatable">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Contact No.</th>
            <th>Location</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
              <% @customers.each do |customer| %>
                  <tr ng-repeat="customer in customers">
                    <td><%= customer.id %></td>
                    <td><%= customer.name %></td>
                    <td><%= customer.email %></td>
                    <td><%= customer.contact_no %></td>
                    <td><%= customer.location %></td>
                    <td class="icon-actions">
                      <%= link_to raw('<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'), edit_admin_customer_path(customer) %>
                      <%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>'), [:admin, customer], method: :delete, data: { confirm: 'Are you sure?' } %>
                    </td>
                  </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- END DATATABLE EXPORT -->

  </div>
</div>

