<h1 class="page-title">Customer</h1>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= simple_form_for [:admin, @customer], html: {class: 'form-disabled'} do |f| %>
            <%= f.input :name, readonly: true %>
            <%= f.input :email, readonly: true %>
            <%= f.input :contact_no, readonly: true %>
            <%= f.simple_fields_for :location do |lf| %>
                <%= lf.input :address, required: false %>
                <%= lf.input :area, required: false %>
                <%= lf.input :region, required: false, collection: ['Hong Kong', 'Kowloon', 'New Territories', 'Island'] %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>