
<% if @pet.errors.any? %>
    <div class="alert fade in alert-danger alert-dismissable"><button aria-hidden="true" class="close" data-dismiss="alert" type="button">×</button>
      <ul>
        <% @pet.errors.full_messages.each do |msg| %>
            <%= content_tag :li, msg, :id => "error_#{msg}" if msg.is_a?(String) %>
        <% end %>
      </ul>
    </div>
<% end %>
<%= simple_form_for([:admin, @pet]) do |f| %>
    <%= f.input :name %>
    <%= f.input :age, label: 'Min age in months' %>
    <%= f.input :available_from %>
    <%= f.association :species, required: false %>
    <%= f.input :breed_id, collection: Species.all, as: :grouped_select, group_method: :breeds %>
    <%= f.simple_fields_for :location_attributes do |lf| %>
        <%= lf.input :address, required: false %>
        <%= lf.input :area, required: false %>
        <%= lf.input :region, required: false, collection: ['Hong Kong', 'Kowloon', 'New Territories', 'Island'] %>
    <% end %>
    <%= f.submit class: 'btn btn-primary' %>
<% end %>
