
<h1 class="page-title">Pets</h1>

<div class="row">
  <div class="col-md-12">

    <!-- START DATATABLE EXPORT -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= link_to 'New Pet', new_admin_pet_path, class: 'btn btn-primary pull-right' %>

        <label id="lbl-show">Show: </label>
        <div id="tbl-filters" class="btn-group" data-toggle="buttons">
          <label id="lbl-all" class="btn btn-default active">
            <input type="radio" name="tbl-filter" id="tbl-filter-all" autocomplete="off" value="all" /> All
          </label>
          <label id="lbl-adopted" class="btn btn-default">
            <input type="radio" name="tbl-filter" id="tbl-filter-adopted" autocomplete="off" value="adopted" /> Adopted
          </label>
          <label id="lbl-for-adoption" class="btn btn-default">
            <input type="radio" name="tbl-filter" id="tbl-filter-for-adoption" autocomplete="off" value="for-adoption" /> For Adoption
          </label>
        </div>

      </div>
      <div class="panel-body">


        <table id="users" class="table datatable">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Species</th>
            <th>Breed</th>
            <th>Location</th>
            <th>Adopted?</th>
            <th>Adopted by</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
              <% @pets.each do |pet| %>
                  <tr ng-repeat="pet in pets">
                    <td><%= pet.id %></td>
                    <td><%= pet.name %></td>
                    <td><%= pet.age %></td>
                    <td><%= pet.species %></td>
                    <td><%= pet.breed %></td>
                    <td><%= pet.location %></td>
                    <td><%= pet.owner ? 'Yes' : 'No' %></td>
                    <td><%= pet.owner ? link_to(pet.owner.name, admin_customer_path(pet.owner)) : '' %></td>
                    <td class="icon-actions">
                      <%= link_to raw('<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'), edit_admin_pet_path(pet) %>
                      <%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>'), [:admin, pet], method: :delete, data: { confirm: 'Are you sure?' } %>
                    </td>
                  </tr>
              <% end %>
          </tbody>
        </table>


      </div>
    </div>
    <!-- END DATATABLE EXPORT -->

  </div>
</div>

