<h1 class="page-title">New Pet</h1>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'form', admin_pet: @pet %>
      </div>
    </div>
  </div>
</div>