<h1 class="page-title">Pet</h1>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= simple_form_for [:admin, @pet], html: {class: 'form-disabled'} do |f| %>
            <%= f.input :name, readonly: true %>
            <%= f.input :age, label: 'Min age in months', readonly: true %>
            <%= f.input :available_from, readonly: true %>
            <%= f.input :species, readonly: true %>
            <%= f.input :breed, readonly: true %>
            <%= f.simple_fields_for :location do |lf| %>
                <%= lf.input :address, required: false %>
                <%= lf.input :area, required: false %>
                <%= lf.input :region, required: false, collection: ['Hong Kong', 'Kowloon', 'New Territories', 'Island'] %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>