/* simple form */
.form-disabled .form-control[disabled],
.form-disabled .form-control[readonly] {
  color: #666;
  background-color: #f5f5f5;
}

.datatable th {
  white-space: nowrap;
}
.icon-actions {
  white-space: nowrap;
}
.icon-actions a {
  font-size: 16px;
  margin-left: 6px;
}

.panel-events {
  max-height: 30vh;
  overflow: auto;
}

.latest {
  font-weight: bold;
}