

<!-- START WIDGETS -->
<div class="row">

  <div class="col-md-3">

    <!-- START WIDGET REGISTRED -->
    <div class="widget widget-default widget-item-icon" >
      <div class="widget-item-left">
        <span class="fa fa-paw"></span>
      </div>
      <div class="widget-data">
        <div class="widget-int num-count"><%= current_customer.matches.count %></div>
        <div class="widget-title">Pet Matches</div>
        <div class="widget-subtitle">On your preferences</div>
      </div>
      <div class="widget-controls">
        <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
      </div>
    </div>
    <!-- END WIDGET REGISTRED -->

  </div>
  <div class="col-md-3">

    <!-- START WIDGET CLOCK -->
    <div class="widget widget-info widget-padding-sm">
      <div class="widget-big-int plugin-clock">00:00</div>
      <div class="widget-subtitle plugin-date">Loading...</div>
      <div class="widget-controls">
        <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="left" title="Remove Widget"><span class="fa fa-times"></span></a>
      </div>
      <div class="widget-buttons widget-c3">
        <div class="col">
          <a href="#"><span class="fa fa-clock-o"></span></a>
        </div>
        <div class="col">
          <a href="#"><span class="fa fa-bell"></span></a>
        </div>
        <div class="col">
          <a href="#"><span class="fa fa-calendar"></span></a>
        </div>
      </div>
    </div>
    <!-- END WIDGET CLOCK -->
  </div>
</div>
<!-- END WIDGETS -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Activity</h2>
      </div>
      <div class="panel-body">
        <div id="events" class="panel-events">
          <%= render @events %>
        </div>
      </div>
    </div>
  </div>
</div>

