<!DOCTYPE html>
<html lang="en" class="body-full-height">
<head>
  <title>Login - Pets.local</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="icon" href="favicon.ico" type="image/x-icon" />

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<div class="login-container">

  <div class="login-box animated fadeInDown">

    <%= render 'shared/notifications' %>

    <div class="login-body">
      <div class="login-title"><strong>Login</strong></div>


      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group has-feedback">
            <%= f.text_field :email, class: 'form-control', placeholder: 'Email', autofocus: true %>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>

          <div class="form-group has-feedback">
            <%= f.password_field :password, class: 'form-control', placeholder: 'Password', autocomplete: 'off' %>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="form-group">
            <div class="col-xs-6"></div>
            <div class="col-xs-6">
              <%= f.submit 'Sign in', class: 'btn btn-info btn-primary btn-block btn-flat' %>
            </div><!-- /.col -->
          </div>
      <% end %>

    </div>
    <div class="login-footer">
      <div class="pull-left">&copy; 2016 Pets Inc.</div>
    </div>
  </div>

</div>

</body>
</html>






